---
import { Icon } from "astro-icon/components";
---

<div class="lg:w-5/6 mx-auto py-16 px-4 sm:px-6 lg:py-12 lg:px-8">
  <div class="max-w-2xl lg:max-w-4xl mx-auto text-center">
    <h2 class="text-3xl font-extrabold text-base-content">
      Contact Information
    </h2>
  </div>
  <div class="mt-16 lg:mt-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="inset-0 bg-neutral rounded-lg">
        <iframe
          class="h-full w-full border-0"
          loading="lazy"
          allowfullscreen
          title="map"
          src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJO2XQGpvNj4ARgjZUfpbCWv4&key=AIzaSyBCEfQ6JZJgM4W01L9XGXzErfLigAD0vqQ"
        ></iframe>
      </div>
      <div>
        <div class="max-w-full mx-auto rounded-lg overflow-hidden">
          <div class="px-6 py-4">
            <h3 class="text-lg font-medium text-base-content">
              Our Headquarters
            </h3>
            <p class="mt-1 text-base-content">
              <span class="text-accent font-semibold">Northern California:</span
              >
              398 Martin Avenue, Santa Clara, CA 95050
            </p>
          </div>
          <div class="border-t border-accent px-6 py-4">
            <h3 class="text-lg font-medium text-base-content">Branches</h3>
            <p class="mt-1 text-base-content">
              <span class="text-accent font-semibold"
                >Southern California:
              </span>1251 Pomona Rd, Unit 104, Corona, CA 92882
            </p>

            <p class="mt-1 text-base-content">
              <span class="text-accent font-semibold">Texas: </span>720 Bastrop
              Hwy, Suite 109, Austin, TX 78741
            </p>
            <p class="mt-1 text-base-content">
              <span class="text-accent font-semibold">Nevada: </span>625 Spice
              Islands Dr, Suite C, Sparks, NV 89431
            </p>
            <p class="mt-1 text-base-content">
              <span class="text-accent font-semibold">Arizona: </span>625 9845 S
              31st Ave, Laveen, AZ 85339
            </p>
            <p class="mt-1 text-base-content">
              <span class="text-accent font-semibold">Idaho: </span>1449 N
              Wollaston Dr, Post Falls, ID 83854
            </p>
          </div>
          <div class="border-t border-accent px-6 py-4">
            <h3 class="text-lg font-medium text-base-content">National team</h3>
            <p class="mt-1 text-base-content">
              <span class="text-accent font-semibold">
                Our national team is available for projects in all states
              </span>
            </p>
            <p class="mt-1 text-base-content">
              <span class="text-accent font-semibold">Contact: </span>Our
              national project managers will support our services outside of our
              usual locations
            </p>
          </div>
          <div class="border-t border-accent px-6 py-4">
            <h3 class="text-lg font-medium text-base-content">Contact</h3>
            <p class="mt-1 text-base-content">
              <span class="text-accent font-semibold">Email:</span>
              <button
                id="email"
                class="badge"
                data-clipboard-text="contact@veritas-inc.com"
                >contact@veritas-inc.com</button
              >
            </p>
            <p class="mt-1 text-base-content">
              <span id="phone" class="text-accent font-semibold"
                >Phone:
              </span><a class="badge" href="tel:+1877-971-0849">
                +1 877-971-0849</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<Icon
  name="flowbite:angle-down-outline"
  class="size-16 animate-bounce relative mx-auto pt-5"
/>
