<section class="bg-base-100">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center text-base-content"
    >
      Contact Us
    </h2>
    <p
      class="mb-8 lg:mb-16 font-light text-center text-base-content sm:text-xl"
    >
      Got a technical project? Want to send feedback on our work? Need details
      about our services? Let us know.
    </p>
    <form
      name="Contact Form"
      class="space-y-8"
      method="post"
      data-netlify="true"
    >
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Your email:</span>
        </div>
        <input
          type="text"
          name="email"
          placeholder="name@veritas-inc.com"
          class="input input-bordered input-primary w-full max-w-xs"
        />
      </label>
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Choose your service type:</span>
        </div>
        <select
          name="Service Type"
          class="select select-primary w-full max-w-xs"
        >
          <option disabled selected>Service Types</option>
          <option>Cable Infrastructure</option>
          <option>Wireless Services</option>
          <option>Audio and Visual</option>
          <option>Security Services</option>
          <option>Information Technology</option>
          <option>Managed Services</option>
          <option>Electrical</option>
          <option>Consultation</option>
        </select>
      </label>
      <label class="form-control">
        <div class="label">
          <span class="label-text">Project info:</span>
        </div>
        <textarea
          name="Message"
          class="textarea textarea-primary h-24"
          placeholder="Type your message"></textarea>
      </label>
      <button type="submit" class="btn btn-primary btn-wide"
        >Send message</button
      >
    </form>
  </div>
</section>
