---
import MainLayout from "../layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";
---

<MainLayout
  title="Veritas | Partners"
  seoTitle="Veritas | Partners"
  seoDescription="Companies and systems that Veritas uses for their projects"
>
  <div>
    <section>
      <div class="mx-auto max-w-screen-xl px-4 py-4">
        <div class="text-4xl text-center my-5 min-h-10">
          <span>You'll be in good company</span>
        </div>
        <label class="form-control w-full max-w-xs pointer-events-none">
          <div class="label">
            <span class="label-text">Which systems do you use?</span>
          </div>
          <div id="typed-strings">
            <p>3M</p>
            <p>Allen Tel</p>
            <p>APC</p>
            <p>Arlington</p>
            <p>BerkTek</p>
            <p>Brother</p>
            <p>Cooper B-Line</p>
            <p>Corning</p>
            <p>Dottie</p>
            <p>Hoffmann</p>
            <p>Leviton</p>
            <p>Panduit</p>
            <p>Rittal</p>
            <p>RXL</p>
            <p>Superstrut</p>
            <p>Altronix</p>
            <p>Life Safety Power</p>
            <p>Bosch</p>
            <p>Axis</p>
            <p>Gallagher</p>
          </div>
          <input
            id="typed"
            type="text"
            class="input input-bordered w-full max-w-xs"
          />
        </label>
        <div
          class="grid grid-cols-2 gap-8 text-primary-content sm:gap-12 md:grid-cols-3 lg:grid-cols-6"
        >
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="cisco" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="gallagher" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="bosch" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="axis" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="logitech" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="leviton" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="honeywell" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="jbl" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="sonos" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="panduit" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="brightsign" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="samsung" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="nvent" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="milwaukee" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="ekahau" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="altronix" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="lg" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="kramer" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="legrand" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="assaabloy" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="hanwha" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="aruba" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="apc" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="fluke" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="milestone" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="verkada" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="kisi" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="airmagnet" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="commscope" class="size-32" />
          </button>
          <button
            class="flex text-primary-content hover:text-secondary justify-center items-center"
          >
            <Icon name="belden" class="size-32" />
          </button>
        </div>
      </div>
    </section>
  </div>
</MainLayout>
<script src="../scripts/partnerscript.ts"></script>
